/* para sinalizar que eu vou chamar um id o nome deve vir acompanhado no inicio pelo simbolo do hogo da velha// sempre que estiver mexendo com ID comece usando # */

#div1{

background-color: blueviolet;

}

#div2{

    background-color: chartreuse;
}

h1,h2{

    text-shadow: 1px 1px;
}

/* para sinalizar que eu vou chamar uma class o nome deve vir acompanhado pelo ponto final */

/* Aplicar o mesmo estilo CSS para variar tags diferentes  */
.estiloTitulo{

    text-shadow: 5px 5px 5px;
}